[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "cmd /c \"black . && echo. && echo ============ [FIN BLACK] ============ && echo. && isort . && echo. && echo ============ [FIN ISORT] ============\""
lint = "cmd /c \"flake8 . --exit-zero && echo. && echo ============ [FIN FLAKE8] ============ && echo. && pylint . --exit-zero && echo. && echo ============ [FIN ISORT] ============\""
typecheck = "mypy ."

[packages]
altgraph = "*"
certifi = "*"
charset-normalizer = "*"
idna = "*"
packaging = "*"
pefile = "*"
pillow = "*"
pyinstaller = "*"
pyinstaller-hooks-contrib = "*"
pyqt5 = "*"
pyqt5-qt5 = "*"
pyqt5-sip = "*"
python-dotenv = "*"
pywin32 = "*"
pywin32-ctypes = "*"
requests = "*"
urllib3 = "*"
zebra = "==0.1.0"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
mypy = "*"
pylint = "*"
flake8-pyproject = "*"
pytest = "*"
pytest-qt = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
